{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Home Page</h2>
<p>Welcome back, {{ name }}!</p>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;margin:0px auto;}
.tg td{border-color:gray;border-style:solid;border-width:2px;font-family:Arial, sans-serif;font-size:15px;
  overflow:hidden;padding:10px 30px;word-break:normal;}
.tg th{border-color:gray;border-style:solid;border-width:2px;font-family:Arial, sans-serif;font-size:15px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;b}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th bgcolor='#CA0000 '><b>Class</b></th>
    <th bgcolor='#CA0000 '><b>Teacher</b></th>
    <th bgcolor='#CA0000 '><b>Class Grade</b></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0lax">{{ value[0]['class'] }}</td>
    <td class="tg-0lax"> Teacher1 </td>
    <td class="tg-0lax"><a href="{{ url_for('class_grade0') }}">{{ value[0]['grade'] }}</a></td>
  </tr>
  <tr>
    <td bgcolor='#E9E9E9 '>{{ value[1]['class'] }}</td>
    <td bgcolor='#E9E9E9 '> Teacher2 </td>
    <td bgcolor='#E9E9E9 '><a href="{{ url_for('class_grade1') }}">{{ value[1]['grade'] }}</a></td>
  </tr>
  <tr>
    <td class="tg-0lax">{{ value[2]['class'] }}</td>
    <td class="tg-0lax"> Teacher3 </td>
    <td><a href="{{ url_for('class_grade2') }}">{{ value[2]['grade'] }}</a></td>
  </tr>
  <tr>
    <td bgcolor='#E9E9E9 '>{{ value[3]['class'] }}</td>
    <td bgcolor='#E9E9E9 '> Teacher4 </td>
    <td bgcolor='#E9E9E9 '><a href="{{ url_for('class_grade3') }}">{{ value[3]['grade'] }}</a></td>
  </tr>
</tbody>
</table>

{% endblock %}
