{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Home Page</h2>
<p>Youre Students: </p>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;margin:0px auto;}
.tg td{border-color:black;border-style:solid;border-width:2px;font-family:Arial, sans-serif;font-size:25px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:2px;font-family:Arial, sans-serif;font-size:25px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-0lax">Student</th>
    <th class="tg-0lax">Grade</th>
    <th class="tg-0lax">Class</th>
  </tr>
</thead>
<tbody>
  {%for i in range(0, count)%}
  	<tr>
    	<td>{{students[i]['students.name']}}</td>
    	<td>{{students[i]['grade']}}</td>
    	<td>{{students[i]['class']}}</td>
  	</tr>
  {%endfor%}

</tbody>
</table>

{% endblock %}