{% extends 'teacher_layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Home Page</h2>
<p>Youre Students: </p>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;margin:0px auto;}
.tg td{border-color:gray;border-style:solid;border-width:2px;font-family:Arial, sans-serif;font-size:15px;
  overflow:hidden;padding:10px 30px;word-break:normal;}
.tg th{border-color:gray;border-style:solid;border-width:2px;font-family:Arial, sans-serif;font-size:15px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;b}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th bgcolor='#CA0000 '>Student</th>
    <th bgcolor='#CA0000 '>Grade</th>
    <th bgcolor='#CA0000 '>Class</th>
  </tr>
</thead>
<tbody>
  {%for i in range(0, count)%}
  	<tr>
    	<td>{{students[i]['students.name']}}</td>
    	<td><a href="{{ url_for('teacher_assign', id1=students[i]['studentid'], id=students[i]['id']) }}">{{students[i]['grade']}}</a></td>
    	<td>{{students[i]['class']}}</td>
  	</tr>
  {%endfor%}

</tbody>
</table>

<h1><a href="{{ url_for('add_assignment') }}">Add Assignment</a></h1>

{% endblock %}