{% extends 'teacher_layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Home Page</h2>
<p>Youre Students: </p>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:100;margin:100px auto;}
.tg td{border-color:gray;border-style:solid;border-width:2px;font-family:Arial, sans-serif;font-size:15px;
  overflow:hidden;padding:10px 30px;word-break:normal;}
.tg th{border-color:gray;border-style:solid;border-width:2px;font-family:Arial, sans-serif;font-size:15px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;b}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th bgcolor='#CA0000 '>Assignment</th>
    <th bgcolor='#CA0000 '>Grade</th>
    <th bgcolor='#CA0000 '>Completion</th>
  </tr>
</thead>
<tbody>
  {%for i in range(0, count)%}
  	<tr>
    	<td>{{data[i]['assignment_name']}}</td>
      <td contenteditable="true">{{data[i]['assignments.grade']}}</td>
      <td>{{data[i]['completion']}}</td>

  	</tr>
  {%endfor%}

</tbody>
</table>




{% endblock %}